 <!-- Main Wrapper -->       
 <div class="access-screen">
    <div class="overlay"></div>
        <div class="access-wrap animated fadeIn">
    <form class="access-box" name="loginForm">
            <div class="access-screen-logo">
                <p>Section 3/3: <span>&nbsp;Employment Details</span></p>
                <a href="https://renmoney.com/" title="Courierstack">
                    <img src="/assets/img/renmoneyng_icon.png" width="27" alt="renmoney logo">
                </a>
            </div>                
            <!-- <h2 class="title-3"> sign in </h2> -->
            <div class="login-form clrbg-before">
                <form name="form" class="login" (ngSubmit)="f.form.valid && finish()" #f="ngForm" novalidate>
                    
                    <div class="form-group">
                        <input type="text" required name="employerName" id="name" placeholder="Employer Name" class="form-control" #empname="ngModel" [(ngModel)]="currentData.employerName">
                        <div *ngIf="empname.invalid && (empname.dirty || empname.touched || f.submitted)" class="alert alert-danger">

                            <div *ngIf="empname.errors.required">
                                Employer Name is Required.
                            </div>
                            </div>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="empSector" name="employerSector" #empSec="ngModel" [(ngModel)]="currentData.employerSector" required>
                            <option value="null" selected="true" disabled="true">Employer Sector</option>
                            <option *ngFor="let sector of sectors" [value]="sector.name">
                              {{sector.name}}
                            </option>
                          </select>
                          <div *ngIf="empSec.invalid && (empSec.dirty || empSec.touched || f.submitted)" class="alert alert-danger">

                            <div *ngIf="empSec.errors.required">
                                Employer Sector is Required.
                            </div>
                            </div>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Employment start date" name="employerStartDate" #empSD="ngModel" class="form-control air-datepicker" [(ngModel)]="currentData.employmentStartDate" required>
                        <i class="far fa-calendar-alt"></i>
                        <div *ngIf="empSD.invalid && (empSD.dirty || empSD.touched || f.submitted)" class="alert alert-danger">

                            <div *ngIf="empSD.errors.required">
                                Employer Start Date is Required.
                            </div>
                            </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="officeAddress" #offAdd="ngModel" [(ngModel)]="currentData.officeAddress" id="address" rows="1" maxlength="70" placeholder="Office Address" required></textarea>
                        <div *ngIf="offAdd.invalid && (offAdd.dirty || offAdd.touched || f.submitted)" class="alert alert-danger">

                            <div *ngIf="offAdd.errors.required">
                                Office Address is Required.
                            </div>
                            </div>
                      </div>

                      <div class="form-group">
                          <input type="email" required name="email_address" id="email_address" placeholder="Work Email" class="form-control" #wrke="ngModel" [(ngModel)]="currentData.workEmail">
                          <div *ngIf="wrke.invalid && (wrke.dirty || wrke.touched || f.submitted)" class="alert alert-danger">

                            <div *ngIf="wrke.errors.required">
                                Work Email is Required.
                            </div>
                            <div *ngIf="wrke.errors.email">
                                Please use a valid Email
                            </div>
    
                            </div>
                        </div>
                    
                    <div class="form-group mb-0 text-right">
                        <button class="btn-round" type="submit"> Submit </button>
                    </div>
                </form>                       
            </div> 
    </form>
</div>

<!-- </div> -->
<footer class="footer">
    <div class="float-right d-flex align-items-center">
        <p class="copyright">©&#65279;2021 CourierStack</p>
        <p class="credits"> Designed by <a href="https://github.com/MindInitiatives">Minds Initiative</a></p>
    </div>
</footer>
</div>
<!-- / Main Wrapper -->