<!-- <article class="widget">
    <div *ngIf="errText" class="error">{{errText}}</div>
    <div class="renmoneyLogo"><img width="200" src='assets/img/renmoneyng_logo.png'/></div>
    <div class="description">
      <div class="introText">
            <div class="p-title">Get a loan Invest your money</div>
    </div>
    <div class="ren_button">
     <a [routerLink]="[ '/eligibility-check' ]"class="hero_button herobutton1 w-button">Continue</a>
    </div>
    </div>
  </article>
  
  <p><a href="https://codepen.io/nerios/full/jWjmby/">Inspired by: https://codepen.io/nerios/full/jWjmby/. Implemented using FlexBox.</a>
  </p> -->

   <!-- Main Wrapper -->       
   <div class="access-screen">
    <div class="overlay"></div>
        <div class="access-wrap animated fadeIn">
    <div class="access-box" name="loginForm">
        <!-- <div class="text-center">    -->
            <div class="access-screen-logo">
                <a href="https://courierstack.com/" title="Courierstack">
                    <img width="200" src="assets/img/renmoneyng_logo.png" alt="courierstack logo">
                </a>
            </div>                
            <div class="login-form clrbg-before">
              <p class="title-1">Welcome,</p>
              <h2 class="title-3"> Get a loan Invest your money </h2>
              <div class="form-group text-right">
                <button class="btn-round" type="submit"> Continue </button>
            </div>             
            </div>        
          </div>
</div>

<!-- </div> -->
<footer class="footer">
    <div class="float-right d-flex align-items-center">
        <p class="copyright">©&#65279;2021 CourierStack</p>
        <p class="credits"> Designed by <a href="https://github.com/MindInitiatives">Minds Initiative</a></p>
    </div>
</footer>
</div>
<!-- / Main Wrapper -->