<article class="widget">
    <div *ngIf="errText" class="error">{{errText}}</div>
    <div class="renmoneyLogo"><img width="200" src='assets/img/renmoneyng_logo.png'/></div>
    <div class="description">
      <div class="introText">
            <div class="p-title">Get a loan Invest your money</div>
    </div>
    <div class="ren_button">
     <a [routerLink]="[ '/eligibility-check' ]"class="hero_button herobutton1 w-button">Continue</a>
    </div>
    </div>
  </article>
  
  <p><a href="https://codepen.io/nerios/full/jWjmby/">Inspired by: https://codepen.io/nerios/full/jWjmby/. Implemented using FlexBox.</a>
  </p>